<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<center>
  <%= image_tag("http://placehold.it/600x300", style: 'padding: 10px;margin: 10px;')%>
</center>
<p>
  Quinoa you probably haven't heard of them iPhone PBR&B butcher. Meh mixtape fanny pack, esse disrupt paleo pork belly. Tonx ethnic duis PBR&B salvia Cosby sweater, messenger bag aliquip food truck Bushwick. Nulla you probably haven't heard of them biodiesel ad, Intelligentsia excepteur Tumblr 8-bit. Ullamco meggings DIY polaroid jean shorts street art, keytar gluten-free master cleanse laboris butcher duis disrupt. Organic post-ironic before they sold out blog, fugiat cardigan kogi Pinterest est gentrify slow-carb meggings cred adipisicing. Qui shabby chic non artisan polaroid, Neutra exercitation occaecat squid.
</p>